body, html { 
            width: 100%; 
            height: 100%; 
            /* Светло-серый оттенок, как на референсе */
            background-color: #f2f2f2; 
            overflow: hidden; 
        }

        .main-container {
            position: relative;
            width: 100%;
            height: 100vh;
        }

        /* Чтобы картинки (лого, слоган, принтер) не имели белых рамок на сером фоне */
        .layer-logo, .layer-slogan, .layer-printer {
            position: absolute;
            mix-blend-mode: multiply; 
        }

        /* Твои настройки размеров остаются прежними */
        .layer-logo {
            width: 85%;
            top: 30%;
            left: 30%;
            transform: translate(-50%, -50%); 
            z-index: 5;
        }

        .layer-slogan {
            width: 26%;
            height: auto;
            top: 55%;
            right: -2%;
            transform: translateY(-50%);
            z-index: 4;
        }

        .layer-printer {
            width: 81%;
            bottom: -35%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 6;
        }
